.activeLink {
    box-shadow: inset 0 4px 40px 0 #ffffff1a;
}
.navigation-link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 10px 0;
}

.navigation-link img {
    width: 24px;
    height: 24px;
}

.navigation-link span {
    font-size: 12px;
    font-weight: 500;
}

/* Footer container */
.navigation-wrapper {
    height: 3.5rem; /* h-14 = 56px (14 * 4px) */
    background-color: var(--color-bg); /* bg-light-main */
    width: 100%; /* w-full */
    position: fixed; /* fixed */
    bottom: 0; /* bottom-0 */
    left: 0; /* left-0 */
    z-index: 50; /* z-50 */
}

/* UL inside footer */
.navigation-wrapper-box {
    display: grid; /* grid */
    grid-template-columns: repeat(4, 1fr); /* grid-cols-4 */
    height: 100%; /* h-full */
}
